<h1>Index</h1>

<form action="/nation/index" method = "get">
  <input type="text" name="search">
  <input type="submit" name="Search" value="Search">
</form>

<%if @nations.class == Array && @nations.length > 0%>
  <%=@nations.first.name%>
<%end%>