<title>Rio Olympics - Add Nation</title>

<div class="new-form">
  <div class="row">
    <h2 class="input-title">New Nation</h2>
  </div>

  <form action="/nation/new" method = "post">

    <div class="row">
      <label class="input-label" for="name">Name</label>
      <br>
      <input type="text" name="name">
    </div>

    <div class="row">
      <label class="input-label">Continent</label>
      <br>
      <select name="continent">
        <option value="Europe">Europe</option>
        <option value="Australia">Australia</option>
        <option value="Asia">Asia</option>
        <option value="South America">South America</option>
        <option value="North America">North America</option>
        <option value="Africa">Africa</option>
      </select>
    </div>

    <div class="row">
      <label class="input-label" for="flag_url">Flag url</label>
      <br>
      <input type="text" name="flag_url">
    </div>

    <div class="row">
      <label class="input-label" for="population">Population</label>
      <br>
      <input type="text" name="population" min="0">
    </div>

    <div class="button-row">
      <br>
      <input class="new-button" type="submit" value="Add Nation">
    </div>

  </form>

</div>