<title>Rio Olympics 2016 Results</title>
<style>
  body {
    background-image: url("rio.jpg");
    background-repeat:no-repeat;
    background-size:cover;
/*    box-shadow: inset 0 0 100px #000;*/
      transition: opacity 4s;
  }
</style>
