<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/rio_favicon.png">
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="first-body">
      <div class="row">
        <div class="col-1"> <a href="/"><img src="/home_link.svg" class="home_logo_link"></div></a>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <ul class="main-navigation">
                <li><a href="/">Search</a></li>
                <li><a href="/nation/index">Nations</a>
                <li><a href="/athlete/index">Athletes</a></li>
                <li><a href="/event/index">Events</a></li>
              </ul>
            </div><!-- end menu col12 -->
          </div><!-- end menu row -->


          <div class="row">
          <div class="main-container">
          <%=yield %>
          </div>
          </div>
        </div>
        <div class="col-1"></div>
        </div>


      </div>
  </body>
  <footer>
  <div class="button-row">
    <div class="col-1"></div>
    <div class="col-10">
    <p class="settings"><a href="/settings">Settings </a></p>
    <p class="settings"><a href="/olympics">Results </a></p>
    </div>
    <div class="col-1"></div>
  </div>
  </footer>
</html>