

<title>Rio Olympics - Search</title>

<div class="row">
  <h1>Search</h1>
</div>
<div class="row">
  <form action="/team/index" method = "get">
    <input type="text" name="search">
    <input type="submit" name="Search" value="Search">
  </form>
</div>

<%if @teams != nil%>
  <div class="row">
    <div class="search-results">
      <%for team in @teams%>
      <%if @teams.class == Array && @teams.length > 0%>
      <div class="result-box">
        <div class="row">
          <div class="col-4">
            <a href="/team/<%=team.id%>"><%=team.name%></a>
          </div>
          <div class="col-8">
            <p><%=team.athletes.length%></p>
          </div>
        </div>
      </div>
      <%end%>
      <%end%>
    </div>
  </div>
<%end%>