

<title>Rio Olympics - Search</title>

<div class="row">
  <h1>Search</h1>
</div>
<div class="row">
  <form action="/sport/index" method = "get">
    <input type="text" name="search">
    <input type="submit" name="Search" value="Search">
  </form>
</div>

<div class="row">
  <div class="search-results">
    <%if @sports.class == Array && @sports.length > 0%>

      <%for sport in @sports%>

      <div class="result-box">
        <div class="row">
          <div class="col-4">
            <a href="/sport/<%=sport.id%>"><%=sport.name%></a>
          </div>
          <div class="col-8">
            <p><%=sport.type%></p>
          </div>
      </div>
    <%end%>
  <%end%>
</div>

</div>