<title>Rio Olympics - <%=@nation.name%></title>

<div class="row">
  <div class="profile-box">
    <div class="row">
        <div class="col-4"><img src="<%=@nation.flag_url%>"></div>
        <div class="col-8"><h2><%=@nation.name%></h2></div>
    </div>
  </div>
</div>