<title>Rio Olympics - <%=@event.name%></title>

<div class="row">
  <div class="profile-box">
    <div class="row">
        <div class="col-8"><h2><%=@event.name%></h2></div>
    </div>
  </div>
</div>